<div class="map-container" style="position: relative;">
    <jhi-alert></jhi-alert>
    <div style="position: fixed;top: 75px;z-index: 59;width:100%">
        <div class="row" style="margin-top: -35px; margin-left: 0px;margin-right: 0px;">
        	<div class="col-xs-3">
            	<input type="text" class="form-control bg-input-map input-map" id="id" name="id"
                    ng-model="vm.searchDevice.abbrName" placeholder="ID thiết bị" />
            </div>
            <div class="col-xs-3">
            	<select id="country" name="country" class="form-control bg-input-map input-map" ng-model="vm.searchDevice.countryCode" ng-options="country.countryCode as country.name for country in vm.countries">
            		<option value="" selected>Chọn quốc gia</option>
            	</select>
            </div>
            <div class="col-xs-2">
            	<select id="city" name="city" class="form-control bg-input-map input-map" ng-model="vm.searchDevice.cityCode" ng-options="city.id as city.name for city in vm.cities">
            		<option value="" selected>Chọn thành phố</option>
            	</select>
            </div>
            <div class="col-xs-2">
            	<select id="model" name="model" class="form-control bg-input-map input-map" ng-model="vm.searchDevice.model"  ng-options="model.model as model.model for model in vm.models">
            		<option value="" selected>Chọn loại thiết bị</option>
            	</select>
            </div>
            <div class="col-xs-2">
            	<div class = "row" style="margin-top: 17px;margin-left: auto;margin-right: auto;text-align: center;">
            		<md-button class="md-fab btn-map" aria-label="Search" ng-click="vm.search()">
        				<span class="glyphicon glyphicon-search"></span>
      				</md-button>
      				<md-button class="md-fab btn-map" aria-label="Clean" ng-click="vm.clean()">
        				<span class="glyphicon glyphicon-refresh"></span>
      				</md-button>
      				<md-button class="md-fab btn-map" aria-label="Display devices" ng-click="vm.tooggleDevices()">
        				<span class="glyphicon glyphicon-phone"></span>
      				</md-button>
                </div>
            </div>
        </div>
    </div>
    <div>
	    <div id="map_canvas" style="position: relative;">
		    <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" options="vm.map.options" pan="true">
		        <ui-gmap-marker ng-repeat="m in vm.map.markers" coords="m.coords" idkey="m.id" options="m.options" click="vm.clickOnMarker(m)"></ui-gmap-marker>
		        <!-- <ui-gmap-map-control template="control-devices.tpl.html" position="top-right" controller="MapController as vm"></ui-gmap-map-control>
		        <ui-gmap-map-control template="control-refresh.tpl.html" position="top-right" controller="MapController as vm"></ui-gmap-map-control>
		        <ui-gmap-map-control template="control-search.tpl.html" position="top-right" controller="MapController as vm"></ui-gmap-map-control> -->
		        <!-- <ui-gmap-map-control template="control-input.tpl.html" position="top-right" controller="MapController as vm"></ui-gmap-map-control> -->
		    </ui-gmap-google-map>
		    <!-- Side nav -->
		    <div class="container-fluid map-container-sidebar" ng-show="vm.showSideBar()">
		        <div class="row">
		        	<!-- md-is-locked-open="$mdMedia('gt-md')" -->
		            <md-sidenav
				        class="md-sidenav-left"
				        md-component-id="left"
				        md-whiteframe="4">
						
						<div id="header-sidebar">
							<md-toolbar class="md-theme-indigo">
						        <h1 class="md-toolbar-tools">Danh sách thiết bị</h1>
					      	</md-toolbar>
						</div>
							<div id="content-sidebar">
								<ul class="list-group md-whiteframe-z0">
								   <li ng-repeat="device in vm.devices" class="list-group-item" ng-click="vm.showDevice(device)">
								   		<div class="m-t-5 m-b-5">
										     <div class="pull-left m-r-10"><img src="content/icon/iWater40.png" width="32px" class="img-responsive img-circle"></div>
										     <div class="pull-right m-t-10">
										     	<span class="pull-right text-{{device.status}}"><i class="fa fa-circle text-xs"></i></span>
										     </div>
										     <div class="clear">
										       <span class="font-bold block">{{device.abbrName}}</span>
										       </br>
										       <span class="truncate">&nbsp;</span>
										     </div>
									     </div>
									     <md-divider></md-divider>
								   </li>
								 </ul> 
							</div>
						<div id="footer-sidebar">
					        <div style="margin-left: auto;margin-right: auto;text-align: center;">
				                <button class="btn btn-primary" ng-click="vm.tooggleDevices()" >
				                    <span class="glyphicon glyphicon-remove"></span>
				                </button>
			                </div>
						</div>
				    </md-sidenav>
		        </div>
		    </div>
		    
		    <div ng-include="'app/entities/map/device-detail.html'"></div>
		</div>
    </div>
</div>
