<div>
    <h2 data-translate="kanHomeApp.deviceStat.home.title">Device Stats</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="device-stat.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="kanHomeApp.deviceStat.home.createLabel">
                        Create new Device Stat
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="kanHomeApp.deviceStat.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="clientid"><span data-translate="kanHomeApp.deviceStat.clientid">Clientid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="time"><span data-translate="kanHomeApp.deviceStat.time">Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="u"><span data-translate="kanHomeApp.deviceStat.u">U</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wQ"><span data-translate="kanHomeApp.deviceStat.wQ">W Q</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="deviceStat in vm.deviceStats track by deviceStat.id">
                    <td><a ui-sref="device-stat-detail({id:deviceStat.id})">{{deviceStat.id}}</a></td>
                    <td>{{deviceStat.type}}</td>
                    <td>{{deviceStat.clientid}}</td>
                    <td>{{deviceStat.time}}</td>
                    <td>{{deviceStat.u}}</td>
                    <td>{{deviceStat.wQ}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="device-stat-detail({id:deviceStat.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="device-stat.edit({id:deviceStat.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="device-stat.delete({id:deviceStat.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
